.table {
    min-width: "650px";
}

.chatSection {
    width: "100%";
    height: '80vh';
}

.headBG {
    background-color: #e0e0e0;
}

.messageArea {
    height: "70vh";
    overflow-y: "auto";
}

.button-padding {
    padding: 16px !important;
}